<div>
    <mat-toolbar color="accent">
        <img src="./public/images/logo001.png" width="45">
        <!-- <span>Application Title</span> -->

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

            <!-- <span flex></span>
            <button md-icon-button [md-menu-trigger-for]="menu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu x-position="before" #menu="mdMenu">
                <button md-menu-item>Option 1</button>
                <button md-menu-item>Option 2</button>
            </md-menu> -->
    </mat-toolbar>
</div>

