<div>
    <div fxLayout="row">
        <div fxFlex="80" fxFlexOffset="10" class="m-b-md">
            <a mat-raised-button [routerLink]="['/closet-manager']">戻る</a>
        </div>
    </div>
</div>
<div class="accessory-head">
    <div fxLayout="row">
        <div fxFlex="50" fxFlexOffset="25" class="m-b-md">
            <button mat-raised-button (click)="isDisplayItem3 = !isDisplayItem3" [color]="!isDisplayItem3 ? 'primary' : 'warn'">
                <mat-icon>{{isDisplayItem3 ? 'remove' : 'add'}}</mat-icon> accessory {{isDisplayItem3 ? 'minus' : 'add'}}
            </button>
        </div>
    </div>
    <ng-container *ngIf="isDisplayItem3">
        <ng-container *ngTemplateOutlet="goodPanel; context: {$implicit: selectedItem3}"></ng-container>
    </ng-container>
</div>
<div class="album1">
    <ng-container *ngTemplateOutlet="goodPanel; context: {$implicit: selectedItem1}"></ng-container>
</div>
<div class="album2">
    <ng-container *ngTemplateOutlet="goodPanel; context: {$implicit: selectedItem2}"></ng-container>
</div>
<div class="accessory-foot">
    <div fxLayout="row">
        <div fxFlex="50" fxFlexOffset="25" class="m-b-md">
            <button mat-raised-button (click)="isDisplayItem4 = !isDisplayItem4" [color]="!isDisplayItem4 ? 'primary' : 'warn'">
                <mat-icon>{{isDisplayItem4 ? 'remove' : 'add'}}</mat-icon> accessory {{isDisplayItem4 ? 'minus' : 'add'}}
            </button>
        </div>
    </div>
    <ng-container *ngIf="isDisplayItem4">
        <ng-container *ngTemplateOutlet="goodPanel; context: {$implicit: selectedItem4}"></ng-container>
    </ng-container>
</div>


<ng-template #goodPanel let-item>
    <div fxLayout="row">
        <div fxFlex="25"></div>
        <div fxFlex="5" style="margin: auto">
            <button mat-icon-button (click)="turnPrevPage(item)"><mat-icon>navigate_before</mat-icon></button>
        </div>
        <div fxFlex="40">
            <mat-card class="text-center">
                <img mat-card-lg-image src="{{item?.image_path | noimage}}" alt="{{item?.name}}">
            </mat-card>
        </div>
        <div fxFlex="5" style="margin: auto">
            <button mat-icon-button (click)="turnNextPage(item)"><mat-icon>navigate_next</mat-icon></button>
        </div>
    </div>
</ng-template>