<div fxLayout="row">
    <div fxFlex="35" fxFlexOffset="10">
        <mat-card>
            <mat-card-content class="m-b-md">
                <a mat-raised-button color="primary" [routerLink]="['/album-list']">アルバム</a>
            </mat-card-content>
            <mat-card-title>検索</mat-card-title>
            <mat-card-content>
                <form>
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="タグ" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{ option.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="10">
    </div>
    <div fxFlex="35" class="item-list">
        <ng-container *ngFor="let item of goods">
            <mat-card>
                <img mat-card-image src="{{item?.image_path | noimage}}" alt="{{item.name}}">
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>カテゴリー: {{categories[item.category_id]}}</mat-card-subtitle>
                <mat-card-content class="overflow-h">
                    <ng-container *ngFor="let tag of item.tags">
                        <span class="new badge" data-badge-caption="">{{tag?.name}}</span>
                    </ng-container>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-icon-button (click)="changeFavorite(item)"><mat-icon [ngClass]="{'pink-text': item.favorite_flag}">{{item.favorite_flag ? 'favorite' : 'favorite_border'}}</mat-icon></button>
                    <button mat-icon-button [routerLink]="['/good-edit', item.id]"><mat-icon>mode_edit</mat-icon></button>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Option 1</button>
                        <button mat-menu-item>Option 2</button>
                    </mat-menu>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>

    <div class="float-icon-btn">
        <button mat-fab [routerLink]="['/good-add']"><mat-icon>add</mat-icon></button>
    </div>
</div>