<div fxLayout="row">
    <div fxFlex="80" fxFlexOffset="10" class="col s12 m-b-md">
        <button mat-raised-button *ngIf="!isEditMode" color="primary" (click)="isEditMode = true">編集</button>
        <button mat-raised-button *ngIf="isEditMode" color="warn" (click)="onSave()">保存</button>
        <a mat-raised-button [routerLink]="['/closet-manager']">戻る</a>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="80" fxFlexOffset="10" class="col s12 m10 offset-m1">
        <mat-card>
            <img mat-card-image src="{{good?.image_path | noimage}}" alt="{{good.name}}">
            <mat-card-title>
                <ng-container *ngIf="!isEditMode else editName">
                    {{good.name}}
                </ng-container>
                <ng-template #editName>
                    <mat-form-field>
                        <input matInput type="text" placeholder="名前" name="name" [(ngModel)]="formData.name">
                    </mat-form-field>
                </ng-template>
            </mat-card-title>
            <mat-card-subtitle>
                <ng-container *ngIf="!isEditMode else editPurchaseAt">
                    購入日: {{good?.purchase_at | date:"shortDate"}}
                </ng-container>
                <ng-template #editPurchaseAt>
                    <mat-form-field>
                        <input matInput type="text" [matDatepicker]="picker" placeholder="購入日" [formControl]="purchase_at" [ngStyle]="{'border': 'none', 'height': 'auto', 'margin': 0}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </ng-template>
            </mat-card-subtitle>
            <mat-card-content class="overflow-h">
                <ng-container *ngFor="let tag of good.tags">
                    <span class="new badge" data-badge-caption="">{{tag?.name}}</span>
                </ng-container>
            </mat-card-content>
            <mat-card-content>
                <ng-container *ngIf="!isEditMode else editDetail">
                    {{good?.detail}}
                </ng-container>
                <ng-template #editDetail>
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="詳細" name="detail" [(ngModel)]="formData.detail"></textarea>
                    </mat-form-field>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>