/*************************
    Loader
*************************/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10003;
    background: #FFF;
}
#preloader>div {
    display: block;
    position: relative;
}
.preloader-fadeout {
    animation-name: fade;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes fade {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }
}


/*************************
    Base Layout
*************************/
.layout-header {
    background-color:#fff;
    -webkit-box-shadow:0 1px 0 0 rgba(0,0,0,.05);
    box-shadow:0 1px 0 0 rgba(0,0,0,.05);
    left:0;
    position:absolute;
    top:0;
    width:100%;
}
.layout-content {
    margin-top: 15px;
}
.layout-content-body {
    -webkit-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeInRight;
    -o-animation-name:fadeInRight;
    animation-name:fadeInRight;
    float:left;
    padding:15px 15px 35px;
    visibility:visible;
    width:100%
}


/*************************
    Common Class
*************************/
.float-icon-btn {
    margin: 0;
    right: 20px;
    bottom: 20px;
    position: fixed;
}
.overflow-h {
    overflow: hidden;
}
.m-b-md {
    margin-bottom: 15px;
}
.text-center {
    text-align: center;
}

/*************************
    Materialize
*************************/
.pink-text {
    color: #e91e63;
}
span.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    color: #757575;
    float: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}
span.badge.new:after {
    content: " new";
}
span.badge[data-badge-caption]::after {
    content: " " attr(data-badge-caption);
}

/*************************
    Angular Material
*************************/
mat-card {
    margin-bottom: 15px;
}