

<!-- Header -->
<header class="layout-header">
    <app-header></app-header>
</header>

<!-- Sidebar -->

<!-- Content Body -->
<div class="layout-content">
    <div class="layout-content-body">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- Footer -->