/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.layout {
    height: 100%;
    margin: 0;
    max-height: 100%;
    overflow-x: hidden;
    padding-top: 50px;
    width: 100%
}
@media (min-width:768px) {
    .layout-header-fixed {
        position: fixed;
    }
}
